version: '3'
services:
  nginx:
    image: nginx
    volumes:
      - /opt/nginx/config:/etc/nginx/conf.d
      - /opt/nginx/logs:/etc/nginx/logs
      - /opt/letsencrypt/certbot:/etc/letsencrypt
    ports:
      - "${SERVICE_NGINX_PORT}"
      - "80:80"
      - "443:443"
    restart: on-failure

  certbot:
    image: certbot/certbot
    volumes:
      - /opt/letsencrypt/certbot:/etc/letsencrypt
      - /opt/letsencrypt/logs:/var/log/letsencrypt
    ports:
      - "80:80"
      - "443:443"
    command: certonly --standalone --non-interactive --agree-tos --email=${SERVICE_CERTBOT_EMAIL} ${SERVICE_CERTBOT_DOMAINS}